[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "plugins/pelican-plugins"]
	path = plugins/pelican-plugins
	url = git://github.com/getpelican/pelican-plugins.git
[submodule "plugins/pelican-plugics"]
	path = plugins/pelican-plugics
	url = git://github.com/getpelican/pelican-plugins.git
